body {
}

.bom_entry_input_text {
    width: 800px;
    color: darkgreen;
}

.hintlabel {
    font-size: smaller;
    /*font-weight:lighter;*/
    width: 200px;
    /*text-wrap: normal;*/
    flex-wrap: wrap;
    color: darkgreen;
}

.captionlabel {
    width: 300px;
}
.colWrapCell {
    /*width: 75%;*/
    width: 300px;
    word-break: break-all;
    white-space: normal;
}