@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

<!--
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
-->
<address>
    <strong>NA Support:</strong>   <a href="mailto:pgwercs.im@pg.com">pgwercs.im@pg.com</a><br />
    <strong>EU Support:</strong> <a href="mailto:pgsds.im@pg.com">pgsds.im@pg.com</a>
</address>